.ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    position: absolute;
    right: 0;
    
}

li {
    margin-left: 20px;
}